.home-container {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  max-width: 85%;
  background: #132f52;
  border-radius: 50px;
  margin: 1rem auto;
  list-style: none;

  .products-container {
    max-width: 800px;
    min-width: 350px;
    width: 80%;
    min-height: 350px;
    background-color: #095775;
    margin: 2rem auto;
    border-radius: 15px;
    border: 1px solid rgb(230, 224, 224);
    .products-titles {
      display: flex;
      justify-content: start;
      align-items: center;
      height: 40px;
      .product-title {
        width: 200px;
      }
      .description-title {
        width: 400px;
      }
    }
    .products {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   background-color: rgb(42, 42, 42);
      background-color: #38848b;
      min-width: 320px;
      height: 40px;
      padding: 0 1.5rem;
      //   border: 1px solid rgb(36, 33, 33);
      border: 1px solid rgb(207, 202, 202);
      .product-info {
        display: flex;
        flex-direction: row;
        .product-name {
          width: 200px;
          margin-right: 1rem;
        }
        .product-description {
          margin-right: 1rem;
        }
      }
    }
  }

  @media (max-width: 400px) {
    .products-container {
      font-size: 0.8rem;
    }
  }
}
